body{
    .main-title {
        color: #F0F7F4;
        font-size: 1.5em;
    }

    .main-header{
        margin-bottom: -50px;
        img{
            width: 100px;
            height: 100px;
            padding: 0;
            margin: 0;
        }
    }

    .primary-content {
        height: 500px;
        padding: 10px;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }

    .resorts {
        height: 800px;
        padding: 10px;
    }

    .tips {
        height: 1000px;
        padding: 10px;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    img{
        align-self: center;
        border-radius: 20%;
        margin-left: 350px;
        padding-top: 20px;

    }

    .callout{
        margin-left: 670px;
        font-size: 1.3em;
        
        a:hover {
            color: #510D0A;
        }
    }

    .wildlife > h2 {
        padding-top: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .wildlife > p {
        padding-top: 20px;
        margin-top: 0px;
    }

    .main-footer {
        text-align: center;
        p{
            color: #F0F7F4;
        }

        a{
            color: #F0F7F4;
        }
 
    }
}
